<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Onions</title>
  <link href="../../dist/output.css" rel="stylesheet">
</head>

<script>
  const page = require('../page-data/onions.json')
</script>


<body class=" ">
  <nav class="bg-secondary w-full relative z-10 px-4">
    <ul class="flex justify-center md:justify-between items-center  max-w-screen-xl mx-auto py-16 md:py-4">
      <img class="w-24" src="../images/placeholders//ofi-logo-placeholder.png" alt="">
      <!-- opens a modal with iframe -->
      <button class="button bg-primary hidden md:block">
        Talk to an expert
      </button>
    </ul>
  </nav>
  <div class="">
    <div class="absolute left-0 top-0  max-w-screen flex-col w-full overflow-x-hidden items-center ">
      <div class="bg-secondary w-full flex-grow h-[650px] md:h-[400px]  lg:h-[450px] 2xl:h-[400px]">
      </div>
      <svg width="1512" height="215" viewBox="0 0 1512 215" fill="none" xmlns="http://www.w3.org/2000/svg"
        class="text-secondary left-0 z-0 w-full  h-auto">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M1512 78.331C1293.3 164.889 1034.01 215 756 215C477.987 215 218.699 164.889 0 78.331V0H1512V78.331Z"
          fill="currentColor" />
      </svg>
    </div>


    <section class=" mx-auto grid md:grid-cols-2 relative z-10 max-w-screen-lg md:pt-12  lg:pt-20 2xl:pt-12 px-4">
      <div>
        <div class="text-left sm:text-center md:text-left space-y-4 md:space-y-6">
          <h1 class="">
            Learn industry best practices.
          </h1>
          <hr class="border-white max-w-[80%] mr-auto sm:mx-auto md:ml-0">
          <h2>Download the eBook </h2>
          <h3 class="text-white">"Sustainability and Traceability in Spices" includes the Vendor Checklist tool</h3>

        </div>
        <div class="mt-24 lg:mt-32  xl:mt-40 2xl:mt-[15vw] md:block hidden">
          <h3 class="font-semibold">eBook topics and news you can use.</h3>
          <ul class="list-disc pl-4 space-y-2 mt-2">
            <li>Spice sustainability industry benchmarks</li>
            <li>Sourcing/procuring and surety of supply,</li>
            <li>Traceability checklist tool,</li>
            <li>Supplier capabilities to insist on,</li>
            <li>Consumer data prioritizing sustainability.</li>
          </ul>
        </div>
      </div>
      <div class="max-w-md mx-auto mt-12 md:mt-0">
        <img class="max-w-[90%] mx-auto" src="../images/placeholders//ipad-placeholder.png" alt="iPad Placeholder">
        <div class="bg-[#f4f4f4] text-black space-y-4 px-4 md:px-8 pt-12 pb-6 rounded-xl -mt-8">
          <h4 class="font-semibold !text-3xl">Be sure of your supply.</h4>
          <p class="text-xl font-semibold">Get the eBook and Vendor checklist tool.</p>
          <form action="" class="space-y-6 mx-auto">
            <div>
              <p class="">First name*</p>
              <input class="text-input" type="text" name="first_name">
            </div>
            <div>
              <p>Last name*</p>
              <input class="text-input" type="text" name="last_name">
            </div>
            <div>
              <p>Email*</p>
              <input class="text-input" type="email" name="email">
            </div>
            <div>
              <p>Job title</p>
              <input class="text-input" type="text" name="job_title">
            </div>
            <div class="flex space-x-3 items-center ">
              <input class="" type="checkbox">
              <p class="mt-1">GDPR Optin</p>
            </div>
            <button class="button bg-secondary">
              Get the ebook
            </button>
          </form>
        </div>
        <div class="mt-16  xl:mt-40 2xl:mt-[15vw] md:hidden px-4">
          <h3 class="font-semibold">eBook topics and news you can use.</h3>
          <ul class="list-disc pl-4 space-y-2 mt-2">
            <li>Spice sustainability industry benchmarks</li>
            <li>Sourcing/procuring and surety of supply,</li>
            <li>Traceability checklist tool,</li>
            <li>Supplier capabilities to insist on,</li>
            <li>Consumer data prioritizing sustainability.</li>
          </ul>
        </div>
      </div>
      </div>
    </section>

    <section class="max-w-screen-xl mx-auto text-center pt-20 md:pt-32 px-4">
      <h2 class="!text-black !text-6xl mb-4 lg:mb-2">There’s a story behind every flavor.</h2>
      <p class="max-w-xl mx-auto md:max-w-none"><span class="font-bold">ofi</span> delivers the sustainability, traceability and surety of supply customers
        need and
        demand</p>
      <ul class="pt-12 flex flex-wrap gap-x-8 justify-center md:justify-between space-y-12 md:space-y-0">
        <li class="card">
          <img src="../images//placeholders//circle-placeholder.png" alt="">
          <h4>#1 dried onion producer in the world</h4>
          <a href="">Read more <span>›</span></a>
        </li>
        <li class="card">
          <img src="../images//placeholders//circle-placeholder.png" alt="">
          <h4>Garlic: stronger flavor profiles mean real cost savings</h4>
          <a href="">Read more <span>›</span></a>
        </li>
        <li class="card">
          <img src="../images//placeholders//circle-placeholder.png" alt="">
          <h4>Supplying spices that give recipes a real boost</h4>
          <a href="">Read more <span>›</span></a>
        </li>
      </ul>
    </section>

    <section class="mt-32 bg-gray-200 ">
      <div class="bg-primary w-40 mx-auto h-4 relative -top-2 rounded-full"></div>
      <ul class="max-w-screen-lg mx-auto py-12 w-full px-4 ">
        <li class="knowledge_card">
          <img src="../images//placeholders//circle-placeholder.png" alt="">
          <div>
            <h5>Sustainability is the #1 priority at ofi</h5>
            <p>From the world’s most sustainable onions to garlic with bigger taste, from delicious pepper from Vietnam, to
              Turmeric and Cumin from India, ofi reduces water and pesticide usage across all suppliers to help you deliver
              excellence from farm-to-shelf.</p>
            <a href="">Find out more ›</a>
          </div>
        </li>
        <li class="knowledge_card">
          <img src="../images//placeholders//circle-placeholder.png" alt="">
          <div>
            <h5>See to the source, with AtSource</h5>
            <p>With the AtSource app, ofi gives customers detailed social and environmental data, providing full transparency
              and traceability at every step from plant to palate.</p>
            <a href="">Find out more ›</a>
          </div>
        </li>
        <li class="knowledge_card">
          <img src="../images//placeholders//circle-placeholder.png" alt="">
          <div>
            <h5>Innovation Centers that “Make it Real</h5>
            <p>From the world’s most sustainable onions to garlic with bigger taste, from delicious pepper from Vietnam, to
              Turmeric and Cumin from India, ofi reduces water and pesticide usage across all suppliers to help you deliver
              excellence from farm-to-shelf.</p>
            <a href="">Find out more ›</a>
          </div>
        </li>
      </ul>
    </section>

    <section class="bg-primary text-white">
      <div class="bg-secondary w-40 mx-auto h-4 relative -top-2 rounded-full"></div>
      <div class="max-w-screen-lg mx-auto justify-around  py-16 text-center md:text-left md:py-24 flex flex-col  md:flex-row items-center">
        <img class="max-w-[200px] mb-12" src="../images//placeholders//circle-placeholder.png">
        <div class="max-w-md md:max-w-2xl px-4">
          <h3 class="text-3xl font-semibold mb-4">Schedule a consultation with a spice expert. </h3>
          <p class="text-xl mb-6">Get a free Traceability and Sustainability audit of all the herbs and spices you're using
            today. </p>
          <button class="button bg-secondary">Talk to an expert</button>
        </div>
      </div>
    </section>

    <footer class="bg-secondary py-12 px-4 ">
      <div class="max-w-screen-xl mx-auto">
        <img class="w-32" src="../images/placeholders//ofi-logo-placeholder.png" alt="">
      </div>
    </footer>
  </div>

</body>

</html>